PG_DB=postgres
PG_USER=postgres
PG_PASSWORD=
PG_PORT=5432
PG_DOMAIN=localhost

DB_URL=postgresql+asyncpg://${PG_USER}:${PG_PASSWORD}@${PG_DOMAIN}:${PG_PORT}/${PG_DB}
TEST_DB_URL=postgresql+asyncpg://postgres:123456@localhost:5432/test

SECRET_KEY_JWT=
ALGORITHM=HS256

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=465
MAIL_SERVER=

REDIS_DOMAIN=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
