/* mainpage */
html,
body {
  margin: 0;
  height: 70%;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 1170;
  /* margin-left: 150px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 32px;
  margin-bottom: 60px;
}

.main-page {
  background: linear-gradient(90deg, #ffffff 0%, #009485 90%);
  /* width: 1360px; */
  height: 720px;
  flex-shrink: 0;
}

.main-page-text-container {
  border-radius: 40px;
  background: #ffffff;
  padding: 80px 60px 60px 60px;
  box-sizing: border-box;
  width: 570px;
  height: 460px;
  flex-shrink: 0;
}

.good-evening {
  color: #1b1d1f;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 60px;
}

.main-text {
  color: #1b1d1f;
  font-size: 56px;
  font-weight: 600;
  line-height: 72px;
  margin-top: 0;
  margin-bottom: 48px;
}

.ordinary-text {
  color: #1b1d1f;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 16px;
}

.main-page-btn {
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #009485;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
