<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imagine</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="img/x-icon"
      href="{{ url_for('img', path='/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('css', path='/styles.css') }}"
    />
  </head>


  <body>
    <!-- mainpage -->
    <div class="main-page">
      <div class="wrapper">
        <div class="main-page-left-side">
          <!-- logo -->
          <img src="img/goit-logo.svg" alt="GO-IT logo" class="logo" />

          <!-- main-page-text-container -->
          <div class="main-page-text-container">
            <p class="ordinary-text">{{welcome}}</p>
            <p class="good-evening">{{message}}</p>

            <h1 class="main-text">{{about_app}}</h1>

            <a href="http://localhost:8000/docs">
              <button class="main-page-btn">Swagger doc</button>
            </a>

            <button class="main-page-btn" id="go-to-form-btn">
              Запустити гуся
            </button>
          </div>
        </div>
        <!-- goose-selfie -->
        <div>
          <img src="img/gus-main-page.svg" alt="Banderogoose" />
        </div>
      </div>
    </div>

    <div class="gus-facts">
      <img src="img/tryzub.svg" alt="tridend" />
      <h2 class="gus-facts-title">Цікаві факти про бандерогусей</h2>
      <p class="gus-facts-descr">
        Зазвичай бандерогуси — виключно мирні птахи. Але у разі небезпеки можуть
        атакувати ворога системою надпотужного озброєння. Також нищать
        психологічно, активуючи високочастотне шипіння та розмахування крилами
      </p>
      <div class="wrapper">
        <div class="gus-fact-item">
          <img src="img/gus1.svg" alt="goose 1" />
          <h3 class="gus-fact-item-title">Система навігації</h3>
          <p class="gus-fact-item-descr">
            Супутниковий GPS та ехолокатори розпізнають ворожу техніку навіть на
            етапі збірки
          </p>
        </div>
        <div class="gus-fact-item">
          <img src="img/gus2.svg" alt="goose 2" />
          <h3 class="gus-fact-item-title">Очі-тепловізори</h3>
          <p class="gus-fact-item-descr">
            Допомагають виявити характер сигнатури об’єктів та значно підвищують
            точність удару
          </p>
        </div>
        <div class="gus-fact-item">
          <img src="img/gus3.svg" alt="goose 3" />
          <h3 class="gus-fact-item-title">Байракрила</h3>
          <p class="gus-fact-item-descr">
            Можуть нести 2-4 керовані ракети, що вражають ціль на відстані
            «ніхріна собі» кілометрів
          </p>
        </div>
      </div>
    </div>

    <div class="form-page">
      <form action="#" class="form" netlify id="form">
        <img src="img/tryzub.svg" alt="triangle" />
        <h4 class="form-title">Поділися, будь ласка, поштою</h4>
        <p class="form-descr">та запиши гуся до бандерозагону</p>

        <div class="form-fild">
          <label class="form-label" for="user-name">Ім'я</label>
          <input
            type="text"
            class="form-input"
            id="user-name"
            name="user name: "
          />
        </div>
        <div class="form-fild">
          <label class="form-label" for="user-email">Email</label>
          <input
            type="email"
            class="form-input"
            id="user-email"
            name="user email: "
          />
        </div>

        <button class="form-btn" id="launch-btn">Запустити гусака</button>
      </form>
    </div>

    <script src="js/form.js"></script>
  </body>
</html>

</html>
